/* This stylesheet is meant for custom styles, on top of the Bone Template */
.padintopteam {
    margin-top: -170px;
}

.paddingtextoteam {
    margin-top: 15px;
}

.footerpaddingtop {
    margin-top: -300px;
}

.paddingprocessoscr {
    margin-top: -130px;
}